<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Info</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Craigslist Listings -->
    <div class="row">
      <div class="col-md-12">
        <h3 class="heading"> <b> Latest Mars News</b></h3>
        <h4 class="heading">  <b> {{listings.news_title}} </b> </h4>
        <p> {{listings.news_p}}</p>
      </div>
      <div class="row">
        <div class="col-md-7">
          <h3 class="heading"> <b> Futured Mars Image</b></h3>
          <img src="{{listings.featured_image_url}}" alt="Mars Fig" width="100%">
        </div>
          <div class="col-md-5">
            <h4 class="heading"> <b> Mars Facts</b></h4>
            <table class='table table-striped table-bordered'>  <thead>    <tr style="text-align: right;">            <th>Description</th>      <th>Mars</th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>
          </div>
          <div class="row">
            <div class="col-md-12">
          <h3 class="heading text-center"> <b> Mars Hemispheres</b></h3>
            </div>
          </div>
          <div class="row"> 
              {% for item in listings.hemisphere_image_urls %}
              <div class="col-md-6">
                <img class = 'img-thumbnail', src="{{item.img_url}}" alt="mars hemispheres figs" width="90%">
                <h4 class='text-center'>{{item.title}}</h4>
                <br>
            </div>
                {%endfor%}
  </div>
</body>

</html>

